:root {
  --color-primary: #fff;
  --color-link: #147abf;
  --color-btn-bg: #46b688;
  --bg-main: #fafafa;
  --bg-footer: #666; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

*,
**::before,
**::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-primary);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

.wrapper {
  max-width: 1200px;
  margin: auto; }

.container {
  width: 100%; }

.header {
  background-color: indianred;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px; }
  .header h3 {
    justify-content: flex-start;
    display: flex;
    flex: 1;
    background: aquamarine;
    margin: 0 10px;
    padding: 5px; }

.header__right {
  display: flex;
  justify-content: flex-end; }
  .header__right button {
    margin-left: 5px;
    padding: 5px; }

.main {
  background-color: aqua; }
  .main h2 {
    padding: 10px; }

.main__content {
  display: flex; }

.nav {
  flex: 20%;
  background-color: blueviolet;
  padding: 10px; }

.main__gallery {
  flex: 80%;
  background-color: #3bd116;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .main__gallery .item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 10px; }
    .main__gallery .item img {
      max-width: 100%; }

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellowgreen; }

.footer_nav ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer_rights {
  display: flex;
  align-items: center;
  justify-content: center; }
