:root {
  --color-primary: #fff;
  --color-link: #147abf;
  --color-btn-bg: #46b688;
  --bg-main: #fafafa;
  --bg-footer: #666; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

*,
**::before,
**::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-primary);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

.wrapper {
  max-width: 100%;
  margin: auto;
  position: relative; }

.header {
  display: flex;
  background-color: chocolate;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0; }
  .header h3 {
    padding: 10px;
    font-size: 20px; }

.header__right {
  justify-content: center; }
  .header__right button {
    background-color: skyblue;
    margin-left: 5px;
    padding: 15px;
    border: none; }

.main {
  margin-top: 161px;
  background-color: burlywood; }
  .main h2 {
    padding: 10px; }

.main__content {
  background-color: #260080;
  display: flex;
  flex-direction: column; }

.nav {
  flex: 1;
  background-color: blueviolet;
  padding: 10px;
  font-size: 200%; }
  .nav a {
    display: block;
    padding: 10px 0; }

.main__gallery {
  flex: 1;
  background-color: #3bd116;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .main__gallery .item {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .main__gallery .item .item__img {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.3s ease-in-out;
      cursor: pointer; }
      .main__gallery .item .item__img:hover > h3 {
        display: flex;
        text-align: center; }
      .main__gallery .item .item__img img {
        max-width: 100%; }
      .main__gallery .item .item__img h3 {
        display: none;
        position: absolute;
        font-size: 150%;
        color: white;
        background: #1b2f2fa1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center; }
    .main__gallery .item .item__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .main__gallery .item .item__box a {
        display: block;
        padding: 5px;
        color: blue; }

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellow; }

.footer_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer_nav ul a {
    display: block;
    padding: 10px 0;
    font-size: 200%; }

.footer_rights {
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (min-width: 768px) {
  .container {
    width: 100%; }
  .header {
    flex-direction: row;
    justify-content: space-between;
    z-index: 10; }
    .header h3 {
      justify-content: flex-start;
      display: flex;
      flex: 1;
      background: aquamarine;
      margin: 0 10px;
      padding: 5px; }
  .header__right {
    display: flex;
    justify-content: flex-end; }
    .header__right button {
      background-color: orangered; }
  .main {
    background-color: aqua;
    margin-top: 85px; }
    .main h2 {
      padding: 10px; }
  .main__content {
    display: flex;
    flex-direction: row; }
  .nav {
    flex: 20%;
    background-color: blueviolet;
    padding: 10px; }
    .nav a {
      cursor: pointer; }
  .main__gallery {
    flex: 80%;
    background-color: #3bd116;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .main__gallery .item {
      flex: 0 0 calc(30% - 20px);
      margin: 10px;
      padding: 10px 0;
      background-color: cadetblue; }
      .main__gallery .item .item__img {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        cursor: pointer; }
        .main__gallery .item .item__img:hover > h3 {
          display: flex;
          text-align: center; }
        .main__gallery .item .item__img img {
          max-width: 100%; }
        .main__gallery .item .item__img h3 {
          display: none;
          position: absolute;
          font-size: 150%;
          color: white;
          background: #1b2f2fa1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          justify-content: center;
          align-items: center; }
      .main__gallery .item .item__box {
        width: calc(100% - 30px); }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: yellowgreen; }
  .footer_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .footer_nav ul a {
      display: block;
      padding: 10px; }
  .footer_rights {
    display: flex;
    align-items: center;
    justify-content: center; } }
