:root {
  --color-primary: #fff;
  --color-link: #147abf;
  --color-btn-bg: #46b688;
  --bg-main: #fafafa;
  --bg-footer: #666; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

*,
**::before,
**::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--color-primary);
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6; }

.wrapper {
  max-width: 100%;
  margin: auto; }

.container {
  display: grid;
  grid-template-areas: "header header header header" "more more more more" "nav content content content" "footer footer footer footer";
  transition: all 0.5s; }

@media screen and (max-width: 768px) {
  .container {
    grid-template-areas: "header header header header" "more more more more" "nav nav nav nav" "content content content content" "footer footer footer footer";
    transition: all 0.5s; } }

.header {
  grid-area: header;
  background: linear-gradient(to right, #F93D66, #6D47D9);
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }

@media screen and (max-width: 768px) {
  header.header {
    flex-flow: column wrap; } }

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__left h1, .header__left h2 {
    padding: 5px;
    font-size: 200%; }

.header__right {
  display: flex; }
  .header__right button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header__right button .custum-arrow {
      height: 15px;
      width: 15px; }
      .header__right button .custum-arrow i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px; }
      .header__right button .custum-arrow .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
  .header__right button:first-child {
    margin-right: 10px; }

.header__more {
  grid-area: more;
  background-color: blueviolet;
  padding: 5px;
  margin: 52px 0 0 0; }

@media screen and (max-width: 768px) {
  .header__more {
    margin: 87px 0 0 0; } }

.nav {
  grid-area: nav;
  background-color: #f8f8f8;
  padding: 5px; }
  .nav a {
    display: block;
    font-size: 200%;
    padding: 10px 5px;
    overflow: hidden;
    transition: all 0.3s ease-in-out; }
    .nav a:hover {
      background-color: #2222227d;
      color: yellowgreen; }

.main__content {
  grid-area: content;
  padding: 5px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  align-items: center; }
  .main__content .item {
    cursor: pointer;
    transition: transform 1s; }
    .main__content .item:nth-of-type(1) {
      background: #f8f8f8; }
    .main__content .item:nth-of-type(2) {
      background: #eeeeee; }
    .main__content .item:nth-of-type(3) {
      background: #fafafa; }
    .main__content .item:nth-of-type(4) {
      background: #cfcfcf; }
    .main__content .item:nth-of-type(5) {
      background: whitesmoke; }
    .main__content .item:nth-of-type(6) {
      background: #f8f8f8; }
    .main__content .item:nth-of-type(7) {
      background: #eeeeee; }
    .main__content .item:nth-of-type(8) {
      background: #fafafa; }
    .main__content .item:nth-of-type(9) {
      background: #cfcfcf; }
    .main__content .item:nth-of-type(10) {
      background: whitesmoke; }
    .main__content .item:nth-of-type(11) {
      background: #d4d4d4; }

.item__box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .item__box img {
    width: 100%; }
  .item__box .item__box--position {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .item__box .item__box--position .left, .item__box .item__box--position .right {
      padding: 5px;
      font-size: 150%; }
  .item__box p {
    position: absolute;
    font-size: 150%;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 34px;
    background: #2222227d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    transform: translateX(-100%); }
  .item__box:hover p {
    transform: translateX(0); }

@media screen and (max-width: 768px) {
  .main__content {
    transition: all 0.5s;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } }

.footer {
  grid-area: footer;
  background: linear-gradient(to right, #F93D66, #6D47D9);
  padding: 15px; }
  .footer .footer__list {
    display: grid;
    grid-gap: 5px 10px;
    grid-template-columns: repeat(5, auto);
    padding: 10px 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center; }
    .footer .footer__list a {
      display: block;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      color: blue;
      text-transform: uppercase;
      font-size: 15px; }
  @media screen and (max-width: 768px) {
    .footer .footer__list {
      display: flex;
      flex-flow: column wrap; }
      .footer .footer__list a {
        border: none; } }
  .footer p {
    text-align: center;
    padding: 10px 0; }
