:root {
    --color-primary: #fff;
    --color-link: #147abf;
    --color-btn-bg: #46b688;
    --bg-main: #fafafa;
    --bg-footer: #666;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

$colors: 
    rgb(248, 248, 248), 
    rgb(238, 238, 238), 
    rgb(250, 250, 250),
    rgb(207, 207, 207),
    rgb(245, 245, 245), 
    rgb(248, 248, 248), 
    rgb(238, 238, 238), 
    rgb(250, 250, 250),
    rgb(207, 207, 207),
    rgb(245, 245, 245), 
    rgb(212, 212, 212);

*,
**::before,
**::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    background-color: var(--color-primary);
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 100%;
    margin: auto;
}

@media screen and (min-width: 768px) {
}